form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 760px;
}

.title{
    margin-top: 10px;
    
}

.valid-err{
    border: 3px solid red;
}

.valid-ok{
    border: 3px solid green;
}

.error{
    font-weight: 900;
    color: brown;
}
.hide{
    display: none;
}

button{
    margin-top: 10px;
}