header {
  height: 50px;
  background-color: lightgray;
}

.btn-cart {
  float: right;
  width: 90px;
  margin-right: 50px;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
}

.product-item {
  padding: 10px;
  display: block;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.by-btn {
  cursor: pointer;
}