<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">Интернет-магазин</div>

        <div class="cart">
            <div class="search-form">
                <input type="text" class="search-field" v-model="searchLine">
                <button class="btn-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <button class="btn-cart" type="button" @click="isVisibleCart = !isVisibleCart">Корзина</button>
            <div class="cart-block" :class="{invisible: !isVisibleCart}">
                <h3 v-if="cart.length === 0">Корзина пока пуста</h3>
                <div class="cart-item"  v-for="product of cart" :key="'cart-'+product.id">
                    <div class="product-bio">
                        <img :src="imgCart" alt="Some img">
                        <div class="product-desc">
                            <p class="product-title">{{ product.name }}</p>
                            <p class="product-quantity">Количество:<br>
                                <button v-if="product.quantity > 1"  @click="product.quantity--">-</button>
                                <button v-else @click="removeProductOfCart(product)">-</button>
                                {{ product.quantity }}
                                <button @click="product.quantity++">+</button>

                            </p>
                            <p class="product-single-price">{{ product.price }} за ед.</p>
                        </div>
                    </div>
                    <div class="right-block">
                        <p class="product-price">{{ product.price * product.quantity }} руб.</p>
                        <button class="del-btn" @click="removeProductOfCart(product)">X</button>
                    </div>
                </div>
                <h4 v-if="cart.length > 0">Итого: {{ getTotalPrice() }} руб.</h4>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of products" :key="product.id_product" :class="{invisible: !filterGoods(product)}">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}₽</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
