@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*-----------------------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

/*------------------------------------------------------------------------*/

body {
    font-family: "Roboto", sans-serif;
    color: #333333;
}

.center {
    padding: 0 calc(50% - 550px);
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header {
    height: 80px;
    background: #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 60px;
    background: #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 100%;
}

.buy-btn {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    border-radius: 4px;
    background-color: #4eb5f1;
    border: 2px solid #4eb5f1;
    text-align: center;
    font-size: 18px;
    line-height: 41px;
    transition: all 0.2s;
}

.buy-btn:hover {
    background-color: #4095c6;
    border-color: #4095c6;
}

.buy-btn:active {
    background: #ffffff;
    color: #4095c6;
}

.goods-box {
    margin: 100px 0;
}

.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-item {
    width: 250px;
    border-radius: 12px;
    overflow: hidden;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.product-item:hover {
    transform: scale(1.03);

    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.product-item-desc {
    margin: 10px 20px 20px 20px;
}

.product-item-desc p {
    margin: 10px 0px 14px 0px;
}

.header-right-block {
    display: flex;
}

.cart {
    position: relative;
}

.cart-drop {
    display: block;
    width: 232px;
    position: absolute;
    top: 49px;
    right: 0;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 14px;
    z-index: 5;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cart-drop:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 28px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.hidden {
    display: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-item:not(:last-child) {
    margin-bottom: 20px;
}

.cart-item-left {
    display: flex;
}

.cart-item-left a {
    margin-right: 14px;
}

.cart-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-single-price {
    color: #474747;
    font-size: 10px;
    margin: 5px 0;
}

.product-title {
    color: #474747;
}

.product-quantity {
    color: #f14e71;
    font-size: 12px;
}

.del-btn {
    align-self: center;
    font-size: 16px;
    color: #a8a8a8;
    cursor: pointer;
}

.del-btn:hover {
    color: #111111;
}

.search-form {
    display: flex;
    margin-right: 40px;
}

.search-input {
    padding: 6px;
    font-size: 16px;
    border: none;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: #ebebeb;
    transition: all 0.4s;
}

.search-input:focus,
.search-input:hover {
    background: #fff;
}

.search-input::placeholder {
    color: #4eb5f1;
}

.search-btn {
    background: #ddd;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 100%;
    background: #4eb5f1;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: #ffffff;
    transition: all 0.2s;
}

.search-btn:hover {
    background: #4095c6;
}

.noMatches {
    margin-top: 100px;
    text-align: center;
    font-size: 32px;
}

.cart-isEmpty {
    text-align: center;
    font-size: 18px;
}

.btn-cart {
    background: none;
    padding: 2px;
}

.btn-cart i {
    font-size: 32px;
    color: #4eb5f1;
}

.btn-cart span {
    margin-left: 5px;
}
