*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.products{
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product{
  margin: 10px;
}

.product__name{
  padding: 5px;
}

.product__price, .product__calories{
  display: inline-block;
  font-size: 18px;
}

.product__btn{
  padding: 5px 10px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}